html {
 margin: 0;
 font-size: 12px;
 font-family: Arial, Helvetica, sans-serif;
 scroll-behavior: smooth;
}

.header {
  display: flex;
  background-color: #60BF80;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 48px;
 justify-content: space-between;
}

.company-logo {
 width: 50px;
 height: 50px;
}

.cart {
 width: 50px;
 height: 50px;
}

.nav-list {
 display: flex;
 list-style: none;
 color: #D92C49;
 font-weight: 700;
 gap: 26px;
 font-size: 16px;
}

.container1 {
 justify-content: center;
 display: flex;
 gap: 16px;
}

table {
 border: 1px solid #D92C49; 
 border-collapse: collapse;
 margin-left: 30px;
}

td {
 border: 1px solid #D92C49;
 border-collapse: collapse;
 font-size: 14px;
 font-weight: 400;
 padding-top: 48px;
 padding-bottom: 48px;
 padding-left: 78px;
 padding-right: 78px;
}

.form-info {
 display: flex;
 justify-content: center;
}
.form {
  padding: 32px;
  width: 546px;
  height: 667px;
  border: 1px solid  #D92C49;
  position: relative;
}  

.main-heading {
 display: flex;
 justify-content: center;
 padding-bottom: 43px;
 font: Arial, Helvetica, sans-serif;
 font-size: 20px;
 font-weight: 700;
 color: #D92C49;
}
    
#fname {
 box-sizing: border-box;
 border: 1px solid #f36464;
 width: 487px;
 height: 70px;
 border-radius: 10px;
 padding: 16px;
 margin-bottom: 36px;
}

#sname {
 box-sizing: border-box;
 border: 1px solid #f36464;
 width: 487px;
 height: 70px;
 border-radius: 10px;
 padding: 16px;
 margin-bottom: 36px;
}

#lname {
 box-sizing: border-box;
 border: 1px solid #f36464;
 width: 487px;
 height: 70px;
 border-radius: 10px;
 padding: 16px;
 margin-bottom: 36px;
}

#email {
 box-sizing: border-box;
 border: 1px solid #f36464;
 width: 487px;
 height: 70px;
 border-radius: 10px;
 padding: 16px;
 margin-bottom: 36px;
}

#phone {
 box-sizing: border-box;
 border: 1px solid #f36464;
 width: 487px;
 height: 70px;
 border-radius: 10px;
 padding: 16px;
 margin-bottom: 36px;
}

.placeholder {
 font-family: Arial;
 font-size: 12px;
 font-weight: 400;
 color: #8c8c8c;
 letter-spacing: 0.24em;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}

.button {
 background-color: #D92C49;
 font-family: arial;
 color: #fff;
 font-size: 20px;
 padding-top: 16px;
 padding-bottom: 16px;
 padding-left: 48px;
 padding-right: 48px;
}